<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <style>
            .success {
                color: green;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <form method="POST" novalidate>
            {% csrf_token %}

            <!---->
            {% comment %} {{ form }} {% endcomment %}
            <!---->

            {% for field in form %}
            <!---->
            <div>{{ field.label_tag }} {{ field }} <span>{{ field.errors|striptags }}</span></div>
            <!---->
            {% endfor %}

            <input type="submit" value="Register" />
        </form>

        {% if messages %}
        <!---->
        {% for message in messages %}
        <!---->
        <!---->
        <span {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</span>
        <!---->
        {% endfor %}
        <!---->
        {% endif %}
        <!---->
        <!---->
        <!---->
    </body>
</html>
