<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>{{ user_info.username }} - Details</h1>

        <form action="" method="POST">
            {% csrf_token %}

            <!---->

            {{ form }}

            <input type="submit" value="Submit" />
        </form>

        {% if messages %}
        <!---->
        {% for message in messages %}
        <span>{{ message }}</span>
        {% endfor %}
        <!---->
        {% endif %}
    </body>
</html>
